body {
    background-color: aquamarine;
}
#container {
    margin-top: 8rem;
    padding-top: 0.2rem;
    border-radius: 10px;
    /* border: 1px solid blue; */
    width: 50%;
    margin: 3rem auto 0 auto;
    background-color: rgb(247, 207, 108)
}

#add{
    /* border: 1px solid purple; */
    border-radius: 10px;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 60%;
    background-color: rgb(202, 58, 53);
    color: rgb(205, 243, 222);
    font-size: 1.5rem;
}

#list{
    /* border: 1px solid black;  */
    border-radius: 10px;
    padding: 0.1rem;
    margin-top: 0.5rem;
    background-color: rgb(177, 170, 182);
}

#ul{
    /* border: 1px solid red; */
    position: relative;
    /* right: 10px; */
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    background-color: rgb(4, 185, 116);
    color: rgb(253, 253, 1);
    font-size: 1.1rem;
}

#todo-list{
    position: relative;
    right: 1rem;
    font-size: 2.5rem;
    text-align: center;
    /* border: 1px solid beige; */
    border-radius: 10px;
    width: 60%;
    background-color: rgb(87, 49, 4);
}

li {
    /* border: 1px solid aqua; */
    position: relative;
    right: 1rem;
    border-radius: 10px;
    padding-left: 0.6rem;
    margin-bottom: 15px; width: 60%;
    text-align: left;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: rgb(138, 5, 5);
    color: rgb(240, 227, 227);
    
}

a{
    text-decoration: none;
}

h1 {
    color: rgb(238, 20, 209);
}
    
p {
    color: rgb(252, 6, 6);
    font-size: 1.5rem;
}

#delete {
    padding-top: 5px;
    padding-bottom: 5px;
    
}